:root {
    --light-blue: #13afc5;
    --black: #030305;
    --petroleum: #0c373e;
    --gray: #373735;
    --light-gray: #f6f6f6;
    --mid-gray: #5c6a6b;
    --md-gray:#e0e0e0;
    --sm: 10px;
    --mid:16px;
    --md:14px;
    --lg:20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
.main-title {
    background-color: var(--gray);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: -15px;
}
.main-title ul {
    padding-left: 115px;
    list-style-type: none;
}
.boton-nota {
    font-size: var(--sm);
    color: var(--gray);
    border-radius: 30px;
    padding: 8px;
    border-color: var(--light-blue);
    margin: 10px 0;
    background-color: white;
}
.boton-flecha {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 15px;
}

.contenedorc {
    margin: 30px 115px;
    font-size: var(--md);
    box-shadow: 3px 3px 13px var(--mid-gray);    
   
}

.tituloc {
    font-size: var(--mid);
    color: var(--light-blue);
    font-weight: bold;
    padding: 15px 15px;
}
.info {
    padding: 0 15px;
}

.mainc {
    display: flex;
    flex-direction: column;
    margin-left: -50px;
    
}